<h1>Clubs</h1>

<ul>
  <% @clubs.each do |club| %>
    <li>
      <%= link_to club.name, club_path(club) %>
    </li>
  <% end %>
</ul>
<% if current_user_convener?(@club) %>
  <%= link_to 'Add a New Club', new_club_path %>
<% end %>
